[submodule "kilocode-proxy"]
    path = kilocode-proxy
    url = https://github.com/developerjeremylive/kilocode-proxy.git
[submodule "sybek"]
    path = sybek
    url = https://github.com/developerjeremylive/sybek.git
